betabot_ws/logs
*.pyc
betabot.gz
sim/0_VRDemoSettings.txt
0_VRDemoSettings.txt
install/tensorflow*
*.log
install/raspicam/
memories*/
TomNewNew.pem
install/flycapture.2.9.3.43_armhf
install/libdc1394-2.2.5
